html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* .hover-parent {
  overflow: hidden;
  position: relative;
} */

.hover-parent::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: 0.2;
  width: 100%;
}

.hover-content {
  position: absolute;
  z-index: 0.4;
}

.hover-parent:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
/* .hover-child {
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.8s ease-in-out;
} */

/* .parent:hover .hover-child {
  transform: scaleX(1);
  transform-origin: right;
} */
