.container {
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
  /* background-color: ; */
  /* color:@text.secondary */
  font-family: 'Open Sans', sans-serif;
}

.menuArea::after {
  position: absolute;
  content: "";
  top: 110%;
  width: 0%;
  height: 2px;
  left: 0;
  background: #e4aa48;
  transition: transform .5s;
  transition: width .5s;
}

.menuArea:hover::after {
  width: 100%;
  transform-origin: right;
}

.menuAreaHoverOver:hover::after {
  width: 0;
  transform: scaleX(0);
}